.vs/EffectiveCpp/v15/Browse.VC.db
EffectiveCpp/Debug/vc141.idb
EffectiveCpp/Debug/EffectiveCpp.tlog/CL.write.1.tlog
EffectiveCpp/Debug/EffectiveCpp.tlog/CL.command.1.tlog
EffectiveCpp/Debug/EffectiveCpp.log
EffectiveCpp/EffectiveCpp.vcxproj
EffectiveCpp/Debug/vc141.pdb
EffectiveCpp/Debug/EffectiveCpp.tlog/link.command.1.tlog
Debug/EffectiveCpp.ilk
Debug/EffectiveCpp.exe
.vs/EffectiveCpp/v15/ipch/AutoPCH/5b3f70bf42d4929d/MAIN.ipch
EffectiveCpp/Debug/EffectiveCpp.tlog/link.write.1.tlog
EffectiveCpp/Debug/EffectiveCpp.tlog/link.read.1.tlog
EffectiveCpp.sln
Debug/EffectiveCpp.pdb
EffectiveCpp/EffectiveCpp.vcxproj.user
EffectiveCpp/EffectiveCpp.vcxproj.filters
EffectiveCpp/Debug/EffectiveCpp.tlog/EffectiveCpp.lastbuildstate
EffectiveCpp/Debug/EffectiveCpp.tlog/CL.read.1.tlog
EffectiveCpp/Debug/main.obj
.vs/EffectiveCpp/v15/.suo
.vs/EffectiveCpp/v15/Browse.VC.opendb
